*{margin:0;padding:0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box}
ul,ol{list-style: none;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.clearfix::after{content:'';display:block;clear:both;}
body{color:#333;}
section > h2{font-size:4.53vw;position:relative;padding-left:2.67vw;height:5.3vw;line-height:5.3vw;margin-top:5.3vw;}
section > h2::before{content:'';position:absolute;left:0;top:0.5vw;width:0.5vw;height:4.3vw;background:#D33A31;}
header.topBar{width:100vw;padding:4.5vw 1.5vw;background:#D43C33;display:flex;flex-wrap: nowrap;justify-content:space-between;align-items: center;}
header .logo svg{width:40vw;height:6.5vw;}
header .download{margin-right:1.3vw;}
header .download a{font-size:4vw;border:1px solid #F2C5C2;padding:1.2vw 2.5vw;border-radius:5.3vw;color:white;}

nav.navBar > ul{display:flex;text-align:center;font-size:4vw;border-bottom:1px solid #E2E2E2;}
nav.navBar > ul > li{flex:1;}
nav.navBar > ul > li>span{display:inline-block;line-height:10.7vw;position:relative;color:rgb(78, 78, 78);}
nav.navBar > ul > li.active > span{color:#D85049;}
nav.navBar > ul > li.active > span::before{content:'';position:absolute;bottom:-0.1vw;left:-1.5vw;right:-1.5vw;border-bottom:0.5vw solid#D44037;}

section.playLists ul{display:flex;flex-wrap:wrap;justify-content:space-between; margin-top:4vw;}
section.playLists > ul img{width:100%;}
section.playLists > ul > li{width:calc(33.333333% - 1vw);margin-bottom:5vw;}
section.playLists > ul > li > p{font-size:3.5vw;padding-left:1.1vw;line-height:4vw;height:8vw;overflow:hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;display:-webkit-box;-webkit-box-orient: vertical;}

section.latestMusic > h2{margin-top:7vw;}
section.latestMusic > ul{padding-left:2.5vw; margin-top:6vw;}
section.latestMusic > ul li{border-bottom:0.25vw solid rgb(240, 234, 234);position:relative;padding-bottom:2px;} 
section.latestMusic > ul li h2{color:#333;font-size:4.3vw;margin-bottom:0.8vw;margin-top:2vw;}
section.latestMusic > ul li div{display:flex;flex-wrap: nowrap;}
section.latestMusic > ul li p{color:#888888;font-size:3.2vw;margin-bottom:1.4vw;width:86.7vw;
    display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical; overflow:hidden;text-overflow: ellipsis;}
section.latestMusic > ul li svg.icon-play{width:6vw;height:6vw;position:absolute;top:50%;transform:translateY(-50%);right:2.5vw;fill:#AAAAAA;}
section.latestMusic > ul li svg.icon-sq{width:5.7vw;height:3.5vw;fill:#FE672E;margin-left:-1vw;margin-top:0.5vw;}
section.latestMusic > p.loadding{text-align:center;}

section.art{background:url("https://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922") no-repeat;background-size:cover;display:flex;flex-wrap:wrap;justify-content:center;}
section.art > svg.logo{width:61.3vw;height:11.7vw;margin-top:16.8vw;margin-bottom:4vw;}
section.art > a.openApp{border:1px solid #D33A31;color:#D33A31;padding:2.4vw 12vw;border-radius:8vw;font-size:4.2vw;}
section.art > .copyright{font-size:2.4vw;color:#888;margin-top:1.3vw;margin-bottom:5.3vw;}