*{margin:0;padding:0;box-sizing:border-box;}
*::before,*::after{box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
@keyframes circle{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.page{
    display:flex;
    flex-direction: column;
    height:100vh;
    position:relative;
}
.page::after {
    content: "";
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
}
.page > .logo{
    z-index:1;
}
.page > .logo img{
    position:absolute;
    top:3vw;
    left:3vw;
    width:27vw;
    height:5vw;

}
.page > .disc-container{
    position:relative;
    z-index:1;
}
.page > .disc-container .pointer{
    width:25vw;
    /*高度自适应*/
    position:absolute;
    top:0;
    left:46vw;
    z-index:1;
}
.page > .disc-container > .disc{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:58vw;
}
.page > .disc-container .ring,
.page > .disc-container .light{
    width:79vw;
    position: absolute;
    
}
.page > .disc-container .light,
.page > .disc-container .cover{
    animation:circle 20s infinite linear;
    animation-play-state: paused;
}
.page > .disc-container .light.running,
.page > .disc-container .cover.running{
    animation-play-state: running;
}
.page > .disc-container .cover{
    position:absolute;
    width:50vw;
    border-radius:50%; 
}
.page > .disc-container .playBtn.active{
    position:absolute;
    width:15vw;
}
.page > .song-description{
    color:#AEABAC;
    text-align: center;
    margin-top:46vw;
    line-height:7vw;
    flex-grow: 1;
    z-index:1;
}
.page > .song-description h2{
    font-size:4.8vw;
    color:#FEFEFE;
    line-height:5vw;
    margin-bottom:4vw;
}
.page > .song-description .lines{  
    transition:transform 0.3s;
    height:24vw;
}
.page > .song-description p{
    line-height:8vw;
    height:8vw;
    font-size:4.3vw;
}
.page > .song-description p.active{
    color:#FEFEFE;
}
.page > .song-description .lyric{
    overflow:hidden;
}
.page .links{
    display:flex;
    justify-content: center;
}
.page .links a{
    z-index:1;
    font-size:5vw;
    letter-spacing:1vw;
    text-decoration:none;
    width:46vw;
    padding:2vw 0;
    border-radius:11vw;
    text-align:center;
    margin:3vw 0;
}
.page .links .open{
    border:1px solid #D33A31;
    color:#D33A31;
    background:transparent;
}
.page .links .download{
    margin-left:3vw;
    background:#D33A31;
    border:1px solid #D33A31;
    color:#FEFEFE;
}
